version: '3.8'
services:
  app:
    build:
      context: .
      target: development
    command: npm run test
    volumes:
      - ./app/:/home/node/app/
      - ./package.json:/home/node/package.json
      - ./test/unit/:/home/node/test/
      - ./test-output/:/home/node/test-output/
